.logo-area {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(131, 126, 126, 0.3);
}
.nav-area {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.nav-area a {
    flex-grow: 1;
    font-size: 20px;
    padding: 40px 10px;
    margin: 0;
}
.nav-area a:nth-child(2) {
    margin: 0 10px;
}

/* 고객용 페이지 */
#userInfoArea {
    display: flex;
    margin-bottom: 20px;
}
#userInfoArea div {
    height: 100px;
}
#userInfoArea .user-img {
    width: 100px;
    margin-right: 20px;
}
#userInfoArea #userImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
#userInfoArea #userImg img {
    width: 100%;
}
#userInfoArea .user-info {
    font-size: 13px;
    line-height: 22px;
    padding-top: 17px;
}
#userInfoArea .user-info #userId {
    font-weight: 700;
}
#userInfoArea .cust-btn-area {
    margin: 0 0 0 auto;
}
#userInfoArea .cust-btn-area .circle-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 13px;
}
.cust-nav-area {
    display: flex;
    margin-bottom: 20px;
}
.cust-nav-area .circle-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.thumb-list-area .thumb-item {
    width: 33.333%;
    box-sizing: border-box;
    float: left;
    border: 1px solid #ddd;
}
.thumb-list-area .thumb-item a {
    display: block;
    width: 100%;
    height: 300px;
    text-decoration: none;
    position: relative;
}
.thumb-list-area .thumb-item:hover .thumb-info{
    opacity: 1;
}
.thumb-list-area .thumb-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.thumb-list-area .thumb-info {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #ddd;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}